<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="StockTrader" type="System.Configuration.DictionarySectionHandler" />
    <section name="CurrentStock"  type="System.Configuration.SingleTagSectionHandler"/>
    <section name="CurrentMarketListener"  type="System.Configuration.SingleTagSectionHandler"/>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
  </configSections>
  
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite"/>
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".Net Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />
    </DbProviderFactories>
  </system.data>

  <CurrentStock name="华泰证券" dll="Stock.Trader.HuaTai.dll" clazz="Stock.Trader.HuaTai.MockStockTrader"/>
  <CurrentMarketListener name="Sina" dll="Stock.Market.Sina.dll" clazz="Stock.Market.Sina.SinaStockMarketListener"/>

  <!--
  <CurrentMarketListener name="server" dll="Stock.Market.Server.dll" clazz="Stock.Market.Server.ServerStockMarketListener"/>
  <CurrentMarketListener name="Sina" dll="Stock.Market.Sina.dll" clazz="Stock.Market.Sina.SinaStockMarketListener"/> 
  -->

  <StockTrader>
    <add key="Ticket.Time.Span" value="1000" />             <!-- 行情监控间隔时间，毫秒 -->
    <add key="Keep.Time.Span" value="3" />                  <!-- 刷新持仓信息，保持在线的间隔时间，分钟 -->
    <add key="Cancel.Time.Span" value="60" />               <!-- ？秒内未成交，撤单，秒 -->

    <add key="money.rate.tax" value="0.001" />              <!-- 税率 -->
    <add key="money.rate.fee" value="0.00025" />        
    <!-- 手续费率 -->

    <add key="server" value ="172.16.240.1:8080" />
    <add key="username" value ="joe" />                   <!-- 获取数据的用户名密码 -->
    <add key="password" value ="111111" />

    <add key="Trade.Account" value="666600111111" />
    <add key="Trade.Password" value="111111" />
    <add key="Service.Password" value="111111" />

    <add key="font.size" value="9" />
    <add key="font.family" value="微软雅黑" />

    <add key="form.width" value="1350" />
    <add key="form.height" value="700" />

    <add key="rotationb.datagrid.boder" value="7,25,38,46,50" />

    <!-- 
    <add key="server" value ="172.16.240.1:8080" />
    <add key="Trade.Account" value="666600111111" />
    <add key="Trade.Password" value="111111" />
    <add key="Service.Password" value="111111" />
    -->

  </StockTrader>
  
  <log4net>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="[%C.%M] %-5p %m%n"/>
      </layout>
    </appender>
    <root>
      <level value="DEBUG"/>
      <appender-ref ref="ConsoleAppender"/>
    </root>
  </log4net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>

  <!--
  <MyStrategyList>
    <MyStrategy name="T+0 呼吸大法" dll="Stock.Strategy.Breathing.dll" clazz="Stock.Strategy.BreathingStrategy" group="1" desc="说明：水下吸，水面呼这样才能游得远" ></MyStrategy>
    <MyStrategy name="分级B强势轮动策略" dll="Stock.Strategy.RotationB.dll" clazz="Stock.Strategy.RotationB.RotationBStrategy" group="0" desc="说明：分级B强势轮动策略" ></MyStrategy>
  </MyStrategyList>
  -->
  <appSettings>
  </appSettings>
  <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
</configuration>
